<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 重连策略 -->
    <bean id="retryPolicy" class="org.apache.curator.retry.ExponentialBackoffRetry">
        <!-- 间隔时间基数 -->
        <constructor-arg index="0" value="1000" />
        <!-- 重连策略 -->
        <constructor-arg index="1" value="3" />
    </bean>

    <bean id="curatorFramework" class="org.apache.curator.framework.CuratorFrameworkFactory" factory-method="newClient" init-method="start">
        <constructor-arg index="0" value="${curator.server.list}" />
        <!-- sessionTimeoutMs会话超时时间，单位为毫秒。默认是60000ms  -->
        <constructor-arg index="1" value="${curator.session.timeout}" />
        <!-- connectionTimeoutMs连接创建超时时间，单位毫秒，默认15000ms -->
        <constructor-arg index="2" value="${curator.connection.timeout}" />
        <constructor-arg index="3" ref="retryPolicy" />
    </bean>
</beans>
